@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-image: url("../assets/images/cyberpunk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    background-color: lightgray;
    margin: 0;
}

.gowun-font {
    font-family: "Gowun Dodum", sans-serif;
}

.georama-font {
    font-family: "Georama", serif;
}

.searchbar {
    margin-top: 3.5em;
    display: flex;
    justify-content: center;
}

.storedBox {
    display: flex;
    justify-content: center;
    height: 2px;
}

.displayNone {
    display: none;
}

.searchGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pGrid {
    margin: 0;
    grid-column: 1;
    display: grid;
}

.btnGrid {
    margin: 0;
    grid-column: 2;
    display: grid;
}

#storedValueBtn {
    background-color: transparent;
    border: none;
}

.removeBtn {
    background-color: transparent;
    border: none;
    color: white;
    grid-column: 2;
}

.removeBtn:hover {
    cursor: pointer;
}

.storedValue {
    width: 299px;
    background-color: transparent;
    backdrop-filter: blur(0.5em);
    color: white;
    border: solid white 1px;
    font-size: 20px;
    padding: 0.5em;
    padding-right: 0;
    font-family: "Gowun Dodum", sans-serif;
}

.searchbarBorder {
    width: 299px;
    background-color: transparent;
    backdrop-filter: blur(0.5em);
    color: white;
    border: solid white 2px;
    font-size: 24px;
    padding: 0.5em;
    padding-right: 0;
}

.searchbarClickBorder {
    background-color: black;
    color: white;
    border: solid white 1px;
    font-size: 24px;
    padding: 0.5em;
    padding-right: 0;
}

.size-96 {
    font-size: 96px;
}

.size-150 {
    font-size: 150px;
}

.size-36 {
    font-size: 36px;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1em;
}

.currentWeatherGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
}

.currentWeatherMiniGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: fit-content;
}

.middleGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.middleSizing {
    margin: 0 auto;
    width: 87%;
    margin-top: 8em;
}

.date {
    margin: 0 auto;
    width: 87%;
}

.row-2 {
    grid-row: 2;
}

.col-1 {
    grid-column: 1;
}

.span-3 {
    grid-column: span 3;
}

.row-3 {
    grid-row: 3;
}

.col-2 {
    grid-column: 2;
}

.col-3 {
    grid-column: 3;
}

.d-flex {
    display: flex;
}

.align-end {
    align-items: end;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.size-24 {
    font-size: 24px;
}

.daysGrid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    height: 319px;
}

.size-40 {
    font-size: 40px;
}

.bgBlur {
    backdrop-filter: blur(0.5em);
}

.sideBars {
    border-right: solid white 1px;
    margin: auto 0;
    height: 249px;
}

.place-center {
    place-content: center;
}

.m-0 {
    margin: 0;
}

.mb-2 {
    margin-bottom: 2em;
}